/* =========================
   Navbar
========================= */

.navbar{

  width: 100%;

  background:
  linear-gradient(
    135deg,
    #0f172a,
    #1e293b
  );

  color: white;

  padding: 18px 30px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  border-radius: 14px;

  margin-bottom: 25px;

  box-shadow:
  0px 5px 20px rgba(0,0,0,0.2);

  box-sizing: border-box;
}

/* Left */

.navbar-left h2{

  font-size: 28px;

  font-weight: 700;

  margin: 0;
}

/* Right */

.navbar-right{

  display: flex;

  align-items: center;

  gap: 18px;
}

/* Username */

.user-name{

  font-size: 15px;

  font-weight: 500;

  background:
  rgba(255,255,255,0.1);

  padding: 10px 15px;

  border-radius: 10px;
}

/* Button */

.navbar button{

  padding: 10px 18px;

  border: none;

  border-radius: 10px;

  background: #ef4444;

  color: white;

  font-size: 15px;

  cursor: pointer;

  transition: 0.3s;
}

.navbar button:hover{

  background: #dc2626;
}

/* =========================
   Responsive
========================= */

@media(max-width:768px){

  .navbar{

    flex-direction: column;

    gap: 15px;

    text-align: center;
  }

  .navbar-left h2{

    font-size: 22px;
  }

  .navbar-right{

    flex-direction: column;

    width: 100%;
  }

  .navbar button{

    width: 100%;
  }

  .user-name{

    width: 100%;

    text-align: center;
  }

}